cmake-build-debug/
.idea/
CMakeFiles/
.vscode/
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_deps
Client/cmake-build-debug/
Client/.idea
build/
r-type_server
r-type_client